<!DOCTYPE html>
<html>

<%- include('partials/head') %>
<body data-bs-theme="dark">
  <%- include('partials/header', {title: 'Profile'}) %>
  <div class="container mt-5 col-4">
    <h3>Mi Perfil</h3>
    <form method="POST" action="/users/update-profile?_method=PUT">
      <div class="mb-3" >
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name"required name="name" >
      </div>
      <div class="mb-3" >
        <label for="surname" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="surname"required name="surname" >
      </div>
      <div class="mb-3">
        <label class="form-label" for="birthday">Cumpleaños</label>
        <input class="form-control" type="date" id="birthday" name="birthday">
    </div>
    <div class="mb-3">
        <label class="form-label" for="gender">Género</label>
        <select class="form-select" name="gender" id="gender">
            <option selected hidden value="">Seleccione su género</option>
            <option value="v">Hombre</option>
            <option value="m">Mujer</option>
            <option value="o">Prefiero no decirlo</option>
        </select>
    </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>